@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'PT Serif', serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.about {
    background: url('images/background.jpg') no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.nav__logo {
    width: auto;
    height: 4.8rem;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.hero {
    color: #fff;
    padding: 0 14.5rem 21rem;
}

.heading__primary {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.hero__p {
    font-size: 2rem;
    width: 63ch;
}

.info {
    padding: 11rem 0 9rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    color: #37282b;
    position: relative;
}

.info::before {
    content: '';
    width: 100%;
    display: block;
    border: 1px solid lightgrey;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0.7;
}

.card__heading2,
.sponsors__heading2 {
    font-size: 4.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1.8rem;
}

.card__p,
.sponsors__p {
    line-height: 1.8;
    font-size: 1.2rem;
    margin-bottom: 4rem;
    width: 66ch;
    opacity: 0.7;
}

.card__btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #c4a286;
    border: 2px solid #c4a286;
    padding: 0.8rem 2rem;
}

.sponsors {
    padding: 3rem;
    text-align: center;
}

.sponsors__heading2 {
    color: #c4a286;
}

.sponsors__p {
    text-align: center;
    display: inline-block;
    width: 80%;
    margin-bottom: 2rem;
}

.sponsors__img-container {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.sponsors__img {
    width: 12rem;
    height: 12rem;
    background-color: lightgrey;
    border-radius: 1000px;
    display: inline-block;
    padding: 2rem;
    margin: 3rem 0;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    padding: 5rem 10rem 6rem 18rem;
    background-color: #171720;
    position: relative;
}

.footer__list {
    list-style: none;
}

.footer__heading4 {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    opacity: 0.8;
}

.footer__item {
    color: lightgrey;
    opacity: 0.6;
    line-height: 3;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
}

.footer::before {
    content: '';
    width: 100%;
    display: block;
    border: 0.5px solid rgba(211, 211, 211, 0.3);
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0.7;
}

.bottom {
    background-color: #171720;
    padding: 1rem 10rem 2rem 18rem;
}

.bottom span {
    opacity: 0.6;
    color: lightgrey;
    font-size: 1.3rem;
}
