body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    display: flex;
    gap: 20px;
    margin: 20px 50px;
}

article {
    width: 75%;
}

img {
    width: 50%;
}
